USE [master]
GO
/****** Object:  Database [Base]    Script Date: 20.06.2021 13:58:23 ******/
CREATE DATABASE [Base]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Base', FILENAME = N'D:\SQLDataBase\Base.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Base_log', FILENAME = N'D:\SQLDataBase\Base_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Base].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Base]
GO
/****** Object:  Table [dbo].[Агенты]    Script Date: 20.06.2021 13:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Агенты](
	[ID Агента] [int] IDENTITY(1,1) NOT NULL,
	[Тип агента] [varchar](max) NOT NULL,
	[Наименование агента] [varchar](max) NOT NULL,
	[Электронная почта агента] [varchar](max) NOT NULL,
	[Телефон агента] [varchar](max) NOT NULL,
	[Логотип агента] [varchar](max) NOT NULL,
	[Юридический адрес] [varchar](max) NOT NULL,
	[Приоритет] [int] NOT NULL,
	[Директор] [varchar](max) NOT NULL,
	[ИНН] [float] NOT NULL,
	[КПП] [int] NOT NULL,
 CONSTRAINT [PK_Агенты] PRIMARY KEY CLUSTERED 
(
	[ID Агента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Накладные]    Script Date: 20.06.2021 13:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Накладные](
	[ID Накладной] [int] IDENTITY(1,1) NOT NULL,
	[ID Продукции] [int] NOT NULL,
	[Количество] [int] NOT NULL,
 CONSTRAINT [PK_Накладные] PRIMARY KEY CLUSTERED 
(
	[ID Накладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставка]    Script Date: 20.06.2021 13:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставка](
	[ID Поставки] [int] IDENTITY(1,1) NOT NULL,
	[ID Склада] [int] NULL,
	[ID Агента] [int] NULL,
	[ID Накладной] [int] NULL,
	[Дата поставки] [date] NULL,
 CONSTRAINT [PK_Поставка] PRIMARY KEY CLUSTERED 
(
	[ID Поставки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукция]    Script Date: 20.06.2021 13:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция](
	[ID Продукции] [int] IDENTITY(1,1) NOT NULL,
	[Наименование продукции] [varchar](max) NOT NULL,
	[Тип продукции] [varchar](max) NOT NULL,
	[Артикул] [int] NOT NULL,
	[Количество человек для производства] [int] NOT NULL,
	[Номер цеха производства] [int] NOT NULL,
	[Минимальная цена для агента] [money] NOT NULL,
 CONSTRAINT [PK_Продукция] PRIMARY KEY CLUSTERED 
(
	[ID Продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Реализация]    Script Date: 20.06.2021 13:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Реализация](
	[ID Реализации] [int] IDENTITY(1,1) NOT NULL,
	[ID Поставки] [int] NULL,
	[ID Агента] [int] NULL,
	[Продукция] [varchar](max) NOT NULL,
	[Наименование агента] [varchar](max) NOT NULL,
	[Дата реализации] [datetime2](7) NOT NULL,
	[Количество продукции] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Реализация] PRIMARY KEY CLUSTERED 
(
	[ID Реализации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Склад]    Script Date: 20.06.2021 13:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склад](
	[ID Склада] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [varchar](max) NULL,
	[Адрес] [varchar](max) NULL,
 CONSTRAINT [PK_Склад] PRIMARY KEY CLUSTERED 
(
	[ID Склада] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Агенты] ON 

INSERT [dbo].[Агенты] ([ID Агента], [Тип агента], [Наименование агента], [Электронная почта агента], [Телефон агента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (1, N'МКК', N'МонтажОрионУрал', N'pzaitev@blokin.org', N'(35222) 67-39-26', N'\agents\agent_96.png', N'027573, Тамбовская область, город Коломна, ул. Ленина, 20', 50, N'Давыдоваа Нина Евгеньевна', 1692286718, 181380912)
INSERT [dbo].[Агенты] ([ID Агента], [Тип агента], [Наименование агента], [Электронная почта агента], [Телефон агента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (2, N'МКК', N'МетизСтрой', N'kristina.pakomov@burova.ru', N'8-800-172-62-56', N'\agents\agent_94.png', N'254238, Нижегородская область, город Павловский Посад, проезд Балканская, 23', 374, N'Ева Борисовна Беспалова', 4024742936, 295608432)
INSERT [dbo].[Агенты] ([ID Агента], [Тип агента], [Наименование агента], [Электронная почта агента], [Телефон агента], [Логотип агента], [Юридический адрес], [Приоритет], [Директор], [ИНН], [КПП]) VALUES (3, N'ОАО', N'РадиоСевер', N'maiy.belov@rogov.ru', N'(495) 368-86-51', N'\agents\agent_123.png', N'491360, Московская область, город Одинцово, въезд Ленина, 19', 431, N'Карпов Иосиф Максимович', 5889206249, 372789083)
GO
SET IDENTITY_INSERT [dbo].[Агенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Продукция] ON 

INSERT [dbo].[Продукция] ([ID Продукции], [Наименование продукции], [Тип продукции], [Артикул], [Количество человек для производства], [Номер цеха производства], [Минимальная цена для агента]) VALUES (1, N'Попрыгунчик детский красный 1289', N'Для маленьких деток', 82925345, 4, 10, 1919.0000)
INSERT [dbo].[Продукция] ([ID Продукции], [Наименование продукции], [Тип продукции], [Артикул], [Количество человек для производства], [Номер цеха производства], [Минимальная цена для агента]) VALUES (2, N'Попрыгунчик детский желтый 6678', N'Для больших деток', 80007300, 2, 1, 1768.0000)
INSERT [dbo].[Продукция] ([ID Продукции], [Наименование продукции], [Тип продукции], [Артикул], [Количество человек для производства], [Номер цеха производства], [Минимальная цена для агента]) VALUES (3, N'Попрыгунчик детский 6888', N'Для маленьких деток', 13875235, 4, 12, 1972.0000)
SET IDENTITY_INSERT [dbo].[Продукция] OFF
GO
SET IDENTITY_INSERT [dbo].[Реализация] ON 

INSERT [dbo].[Реализация] ([ID Реализации], [ID Поставки], [ID Агента], [Продукция], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (1, NULL, NULL, N'Попрыгунчик для кошечек 2604', N'КазаньТекстиль', CAST(N'2010-06-21T00:00:00.0000000' AS DateTime2), N'7')
INSERT [dbo].[Реализация] ([ID Реализации], [ID Поставки], [ID Агента], [Продукция], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (2, NULL, NULL, N'Попрыгунчик для собачек 5754', N'Компания ФинансСервис', CAST(N'2016-02-17T00:00:00.0000000' AS DateTime2), N'18')
INSERT [dbo].[Реализация] ([ID Реализации], [ID Поставки], [ID Агента], [Продукция], [Наименование агента], [Дата реализации], [Количество продукции]) VALUES (3, NULL, NULL, N'Попрыгунчик для собачек 4485', N'РемГаражЛифт', CAST(N'2012-11-07T00:00:00.0000000' AS DateTime2), N'9')
GO
SET IDENTITY_INSERT [dbo].[Реализация] OFF
GO
ALTER TABLE [dbo].[Накладные]  WITH CHECK ADD  CONSTRAINT [FK_Накладные_Продукция] FOREIGN KEY([ID Продукции])
REFERENCES [dbo].[Продукция] ([ID Продукции])
GO
ALTER TABLE [dbo].[Накладные] CHECK CONSTRAINT [FK_Накладные_Продукция]
GO
ALTER TABLE [dbo].[Поставка]  WITH CHECK ADD  CONSTRAINT [FK_Поставка_Агенты] FOREIGN KEY([ID Агента])
REFERENCES [dbo].[Агенты] ([ID Агента])
GO
ALTER TABLE [dbo].[Поставка] CHECK CONSTRAINT [FK_Поставка_Агенты]
GO
ALTER TABLE [dbo].[Поставка]  WITH CHECK ADD  CONSTRAINT [FK_Поставка_Накладные] FOREIGN KEY([ID Накладной])
REFERENCES [dbo].[Накладные] ([ID Накладной])
GO
ALTER TABLE [dbo].[Поставка] CHECK CONSTRAINT [FK_Поставка_Накладные]
GO
ALTER TABLE [dbo].[Поставка]  WITH CHECK ADD  CONSTRAINT [FK_Поставка_Склад] FOREIGN KEY([ID Склада])
REFERENCES [dbo].[Склад] ([ID Склада])
GO
ALTER TABLE [dbo].[Поставка] CHECK CONSTRAINT [FK_Поставка_Склад]
GO
ALTER TABLE [dbo].[Реализация]  WITH CHECK ADD  CONSTRAINT [FK_Реализация_Агенты] FOREIGN KEY([ID Агента])
REFERENCES [dbo].[Агенты] ([ID Агента])
GO
ALTER TABLE [dbo].[Реализация] CHECK CONSTRAINT [FK_Реализация_Агенты]
GO
ALTER TABLE [dbo].[Реализация]  WITH CHECK ADD  CONSTRAINT [FK_Реализация_Поставка] FOREIGN KEY([ID Поставки])
REFERENCES [dbo].[Поставка] ([ID Поставки])
GO
ALTER TABLE [dbo].[Реализация] CHECK CONSTRAINT [FK_Реализация_Поставка]
GO
USE [master]
GO
